.div1{
    background-color: antiquewhite;

    
}
.div2{
background-color: aquamarine;   
width: 400px;

}

.catImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: center;
    display: inline;
    vertical-align: middle;
    display: inline;
    margin: 5px;
}
.post{
    vertical-align: middle;
    color: grey;
    font-family:Arial;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    margin-right: 100px;
    width: 200px;
    display: inline;
}
.btn{
    display: inline;
    vertical-align: middle;
    background-color: rgb(14, 170, 254);
    color: aliceblue;
    font-weight: bold;
    border: none;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 40px;

}