body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 55px;
    flex-direction: row;
}
.first-section{
    display: flex;
    align-items: center;
}
.hamburgerImg{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youTubeImg{
    height: 20px;
}
.middle-section{
    background-color: blueviolet;
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 750px; 
    margin-left: 70px;
    margin-right: 35px;
}
.searchBar{
    height: 28px;
    width: 500px;

}
.voiceImg{
    height: 24px;
}
.searchImg{
    height: 24px;
}
.last-section{
    background-color: aqua;
    width: 300px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 35px;
}
.img{
    width: 100%;
}
.infoVideo{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.photoChanel{
    width: 40px;
    border-radius: 50px;
}