body {
    margin: 0;
    padding-top: 88px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(245, 246, 247);
    font-family: Roboto,Arial;
}
@media (min-width:1201px) {
    body{
        margin-left: 170px;
    }
}